h3, p {
  margin: 0;
}

div {
  font-family: 'Mountains of Christmas',cursive;
  color: #00541f;
}

a {
  color: #0a4500;
}

.about {
  margin: 25px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.repo {
  color: #006400;
}

.name {
  margin-left: 25px;
  color: red;
}

.follow {
  text-align: center;
  margin: 15px auto;
}

.card {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: 300px;
}

.icon {
  width: 30px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .card {
    width: 200px;
    height: 50px;
  }
}

@media (max-width: 375px) {
  .name {
    margin-left: 5px;
  }

  .bio, .follow {
    font-size: 20px;
  }

  .card {
    width: 150px;
    padding: 5px;
  }

  .icon {
    width: 15px;
  }
}
