.item {
  color: #006400;
}

.item:hover {
  cursor: pointer;
}

.done {
  color: #9ACD32;
  text-decoration: line-through;
}

.done:hover::before {
  content: '\1F9E8';
  position: absolute;
  left: 450px;
}
