.title {
  font-size: 48px;
  font-family: 'Mountains of Christmas',cursive;
  color: red;
  text-align: center;
}

.card {
  font-size: 32px;
  font-family: 'Nerko One', cursive;
  padding: 10px;
  margin-top: 25px;
}

@media (max-width: 375px) {
  .title {
    font-size: 24px;
  }

  .card {
    font-size: 24px;
  }
}
